*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    width: 80%;
    margin: auto;
}


.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
}
.col{
    width: calc(100% / 7);
    position: relative;
    padding-right: 5px;
    margin-bottom: 5px;
}
.col .image{
    background-image: url(../img/1.jpg);
    background-size:cover;
    height: 80px;
    width: 100%;
}

/*site_header*/

#site_header{
    margin-bottom: 3rem;
}

.icons{
    margin-top: 0.5rem;
    text-align: end;
}


header .icons .first_icon, .second_icon{
    display: inline;
    margin-top: 5px;
    margin-right: 5px;
    background-color: rgba(211, 211, 211, 0.473);
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-size: 10px;
    text-align: end;
}
/*site_main*/

main .info{
    position: absolute;
    left: 0;
    bottom: 0;
    color: white;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.219);
    padding: 5px;
}

/*site_footer*/

#site_footer{
    margin-top: 3rem;
    
    background-color: #222222;
    color: white;
}

.icons_footer{
    display: flex;
    justify-content: space-between;
}

.icons_right{
    padding: 20px;
    color: red;
    background-color: #4A4A4A;
}
.icons_left{
    display: flex;
    padding-top: 10px;
}
.microphone, .webcam{
    text-align: center;
}
